
<button (click)="save()">speichern</button> 
<button (click)="toggleEdit()">{{edit ? 'Vorschau' : 'Bearbeiten'}}</button>
<!--<button>Liste</button>
<section>
	<div *ngFor=""></div>
</section>	-->
<section [class]="{hidden: !edit}">
	<input type="file" (change)="getDataURI($event)">
	<img style="height: 6cm;" [src]="content.mainImage" #imgPreviewElement>	
	<h1 #h1 [innerHTML]="content.heading" contenteditable (blur)="content.heading = h1.innerHTML" ></h1>
	<section #teaserElement [innerHTML]="content.teaser"></section>
	<main #mainElement style="height: 50vh;"[innerHTML]="content.main" ></main>
	<section #massnahmenElement>
		<table class="massnahmen">
			<tbody>
				<tr *ngFor="let massnahme of content.massnahmen">
					<td><button (click)="removeMassnahme(massnahme)">-</button></td>	
					<td ><input [(ngModel)]="massnahme.art" [ngModelOptions]="{standalone:true}"></td>
					<td ><input [(ngModel)]="massnahme.name" [ngModelOptions]="{standalone:true}"></td>
					<td ><input [(ngModel)]="massnahme.gewichtung" [ngModelOptions]="{standalone:true}"></td>
				</tr>
				<tr>
					<td><button (click)="addMassnahme()" >+</button></td>	
				</tr>
			</tbody>
		</table>
	</section>
</section>	
<section [class]="{hidden: edit}">

	<img style="height: 6cm;" [src]="content.mainImage">	
	<h1  [innerHTML]="content.heading"></h1>
	<section  [innerHTML]="content.teaser"></section>
	<main  [innerHTML]="content.main" ></main>
	<section>
		<table class="massnahmen">
			<tbody>
				<tr *ngFor="let massnahme of content.massnahmen">
					<td >{{massnahme.art}}</td>
					<td >{{massnahme.name}}</td>
					<td >{{massnahme.gewichtung}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>	